body {
    font-family: Arial, sans-serif;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  legend {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }
  
  /* Error styling for the error or invalid input*/
  input:invalid {
    border-color: red;
  }
  
  input:focus:invalid {
    outline: none;
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
    font-size: 14px;
  }
  
  /* Success styling for the correct input */
  input:valid {
    border-color: green;
  }
  
  /* Show/hide middle name field */
  #middle-name-group {
    display: none;
  }